.banner {
	background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.75) 50%), url(healthcareiq.jpeg);
	color: white;
	padding: 150px 0px;
	background-size: cover;
	background-position: center;
	max-height: 300px;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

.banner h1{
	font-size: 50px;
	font-weight: bold;
}

.banner h2{
	font-size: 30px;
	font-weight: lighter;
	opacity: 0.8;
	margin-bottom: 30px;
}